
scipy
numpy
tensorflow==1.12.0
joblib==0.10.3
cached-property==1.5.1
mako==1.0.7
lasagne==0.1
theano==0.7.0
pydot-ng
Cython
lockfile
glfw
cffi
python-dateutil==2.7.3
pyprind==2.11.2
opencv-python
gym
matplotlib
Cython
lockfile
glfw
cffi
numpy-stl
tensorboard_logger
pyOpenGL
pyquaternion
mujoco-py
comet_ml
